##################################################
# .NET / Visual Studio
##################################################

# Visual Studio cache
.vs/

# Build results
bin/
obj/

# Rider / VS Code / others
.idea/
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# OS files
Thumbs.db
.DS_Store

# Publish output
publish/


# Databases
*.mdf
*.ldf
*.db

# Secrets
appsettings.Production.json

