@{
    ViewData["Title"] = "Add Employee";
}

<div class="container mt-5">

    <div class="d-flex justify-content-between mb-4">
        <div>
            <h3 class="fw-bold">Add Employee</h3>
            <small class="text-muted">Register a new employee</small>
        </div>

        <a href="/admin/employees" class="btn btn-secondary btn-sm">
            ← Back
        </a>
    </div>

    <!-- ✅ ACTION IS REQUIRED -->
    <form method="post" action="/admin/employees/create">

        @await Component.InvokeAsync("EmployeeForm", Model)

      

    </form>
</div>