@{
    ViewData["Title"] = "Edit Employee";
    var returnUrl = ViewBag.ReturnUrl as string;
}

<div class="container mt-5">

    <div class="d-flex justify-content-between mb-4">
        <div>
            <h3 class="fw-bold">Edit Employee</h3>
            <small class="text-muted">Update employee information</small>
        </div>

        @if (!string.IsNullOrEmpty(returnUrl))
        {
            <div class="col-md-2 ms-auto text-end">
            <a href="@returnUrl" class="btn btn-secondary btn-sm mb-5">
                ← Back
            </a>
            </div>
        }
        else
        {
            <div>
            <a href="javascript:history.back()"
               class="btn btn-secondary btn-sm mb-5">
                ← Back
            </a>
            </div>
        }
    </div>

    <form method="post">

        @await Component.InvokeAsync("EmployeeForm", Model)

        <div class="card-footer bg-light pt-3 pb-4">
            <div class="d-flex justify-content-end gap-2">
                <button type="submit" class="btn btn-primary px-4">
                    Update Employee
                </button>
            </div>
        </div>

    </form>
</div>


