@model HotelManagement.WebApp.Application.Dtos.Room.CreateRoomRequest

@{
    ViewData["Title"] = "Add Room";
}

<div class="container mt-4">
    <h3 class="mb-3">Add New Room</h3>

    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()


        <div class="mb-3">
            <label class="form-label">Room Number</label>
            <input asp-for="RoomNo"
                   type="number"
                   class="form-control"
                   min="1" />
            <span asp-validation-for="RoomNo"
                  class="text-danger"></span>

            <div class="form-text text-muted">
                Room number must be unique (e.g., 101, 102, 201).
            </div>
        </div>


        <partial name="RoomUIForm" model="Model" />

        <div class="mt-4">
            <button class="btn btn-success">Save</button>

            <a asp-action="AdminIndex"
               asp-controller="Rooms"
               class="btn btn-secondary">
                Cancel
            </a>

        </div>
    </form>
</div>